[submodule "mattermost-plugin-profanity-filter"]
	path = Unofficial/mattermost-plugin-profanity-filter
	url = https://github.com/mattermost/mattermost-plugin-profanity-filter
[submodule "mattermost-plugin-zoom"]
	path = Production/mattermost-plugin-zoom
	url = https://github.com/mattermost/mattermost-plugin-zoom
[submodule "mattermost-plugin-github"]
	path = Unofficial/mattermost-plugin-github
	url = https://github.com/mattermost/mattermost-plugin-github
[submodule "mattermost-plugin-jira"]
	path = Production/mattermost-plugin-jira
	url = https://github.com/mattermost/mattermost-plugin-jira
[submodule "mattermost-plugin-memes"]
	path = Unofficial/mattermost-plugin-memes
	url = https://github.com/mattermost/mattermost-plugin-memes
[submodule "Unofficial/mattermost-plugin-kopanowebmeetings"]
	path = Unofficial/mattermost-plugin-kopanowebmeetings
	url = https://github.com/Kopano-dev/mattermost-plugin-kopanowebmeetings.git
[submodule "Unofficial/mattermost-plugin-notifymatters"]
	path = Unofficial/mattermost-plugin-notifymatters
	url = https://github.com/Kopano-dev/mattermost-plugin-notifymatters.git
[submodule "Unofficial/mattermost-plugin-autolink"]
	path = Unofficial/mattermost-plugin-autolink
	url = https://github.com/mattermost/mattermost-plugin-autolink.git
[submodule "Unofficial/mattermost-plugin-gyazo"]
	path = Unofficial/mattermost-plugin-gyazo
	url = https://github.com/seansackowitz/mattermost-plugin-gyazo
[submodule "Unofficial/mattermost-plugin-dice-roller"]
	path = Unofficial/mattermost-plugin-dice-roller
	url = https://github.com/moussetc/mattermost-plugin-dice-roller.git
[submodule "Unofficial/mattermost-plugin-jitsi"]
	path = Unofficial/mattermost-plugin-jitsi
	url = https://github.com/seansackowitz/mattermost-plugin-jitsi
[submodule "Unofficial/matterpoll"]
	path = Unofficial/matterpoll
	url = https://github.com/matterpoll/matterpoll.git
[submodule "Examples/mattermost-plugin-sample"]
	path = Examples/mattermost-plugin-sample
	url = https://github.com/mattermost/mattermost-plugin-sample.git
[submodule "Examples/mattermost-plugin-demo"]
	path = Examples/mattermost-plugin-demo
	url = https://github.com/mattermost/mattermost-plugin-demo.git
[submodule "Unofficial/mattermost-plugin-welcomebot"]
	path = Unofficial/mattermost-plugin-welcomebot
	url = https://github.com/mattermost/mattermost-plugin-welcomebot
[submodule "Unofficial/mattermost-plugin-bigbluebutton"]
	path = Unofficial/mattermost-plugin-bigbluebutton
	url = https://github.com/blindsidenetworks/mattermost-plugin-bigbluebutton.git
[submodule "Unofficial/mattermost-plugin-autotranslate"]
	path = Unofficial/mattermost-plugin-autotranslate
	url = https://github.com/mattermost/mattermost-plugin-autotranslate.git
[submodule "Unofficial/mattermost-plugin-xkcd"]
	path = Unofficial/mattermost-plugin-xkcd
	url = https://github.com/techunter/mattermost-xkcd-plugin.git
[submodule "Unofficial/mattermost-plugin-antivirus"]
	path = Unofficial/mattermost-plugin-antivirus
	url = https://github.com/mattermost/mattermost-plugin-antivirus.git
